body {
    font-family: "THSarabunNew";
}

/**
    Set the margins of the page to 0, so the footer and the header
    can be of the full height and width !
**/
@page {
    margin: 0cm 0cm;
}

/** Define now the real margins of every page in the PDF **/
body {
    margin-top: 5.5cm;
    margin-left: 1cm;
    margin-right: 1cm;
    margin-bottom: 1cm;
}

/** Define the header rules **/
header {
    position: fixed;
    top: 1.0cm;
    left: 0cm;
    right: 0cm;
    height: 5.2cm;
    margin-left: 1cm;
    margin-right: 1cm;
    /** Extra personal styles **/
    /* background-color: #03a9f4; */
    /* color: white; */
    /* text-align: center; */
    /* line-height: 1.5cm; */
}

/** Define the footer rules **/
footer {
    position: fixed;
    bottom: 0cm;
    left: 0cm;
    right: 0cm;
    height: 1cm;

    /** Extra personal styles **/
    /* background-color: #03a9f4; */
    color: white;
    text-align: center;
    line-height: 1.5cm;
}

.w-16 {
    width: 4rem
        /* 64px */
    ;
}

.w-96 {
    width: 24rem
        /* 384px */
    ;
}

.remark {
    width: 55%;
}

.border {
    border-width: 1px;
}

.rounded {
    border-radius: 0.25rem
        /* 4px */
    ;
}

.rounded-lg {
    border-radius: 0.5rem
        /* 8px */
    ;
}

.min-h-85 {
    min-height: 85px;
}


.p-1 {
    padding: 0.25rem
        /* 4px */
    ;
}

.p-2 {
    padding: 0.5rem
        /* 8px */
    ;
}

p {
    margin: 0;
    padding: 0;
}

.uppercase {
    text-transform: uppercase;
}

.border-bottom {
    border-bottom: 1px solid #000;
    border-collapse: collapse;
}

.border {
    border: 1px solid #000;
}

.w-full {
    width: 100%;
}

.max-content {
    max-width: max-content;
}

.text-base {
    font-size: 18px;
    line-height: 14px;
}

.text-sm {
    font-size: 16px;
    line-height: 12px;
}

.text-xs {
    font-size: 14px;
    line-height: 10px;
}

.text-xxs {
    font-size: 12px;
    line-height: 8px;
}

.text-xxx {
    font-size: 10px;
    line-height: 6px;
}

.text-md {
    font-size: 20px;
    line-height: 16px;
}

.text-lg {
    font-size: 22px;
    line-height: 18px;
}

.text-xl {
    font-size: 24px;
    line-height: 20px;
}

.text-2xl {
    font-size: 26px;
    line-height: 22px;
}

.text-3xl {
    font-size: 28px;
    line-height: 24px;
}

.text-4xl {
    font-size: 30px;
    line-height: 26px;
}

.text-5xl {
    font-size: 32px;
    line-height: 28px;
}

img.logo-img {
    width: 6cm;
    height: 2cm;
    margin: -0.5cm 0.5cm 0cm 0cm !important;
    padding: 0;
}

hr {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

.column-1 {
    float: left;
    width: 100%;
}

.column-2 {
    float: left;
    width: 50%;
}

.column-3 {
    float: left;
    width: 33.33%;
}

.column-4 {
    float: left;
    width: 25%;
}

.column-5 {
    float: left;
    width: 20%;
}

.column-6 {
    float: left;
    width: 16.66%;
}

.column-7 {
    float: left;
    width: 14.28%;
}

.flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.right {
    float: right;
}

.px-1 {
    padding-left: 0.25rem;
    padding-right: 0.25rem;
}

.px-2 {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.px-3 {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
}

.mx-1 {
    margin-left: 0.25rem;
    margin-right: 0.25rem;
}

.mx-2 {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.mx-3 {
    margin-left: 0.75rem;
    margin-right: 0.75rem;
}

.mx-4 {
    margin-left: 1rem;
    margin-right: 1rem;
}

.mx-5 {
    margin-left: 1.25rem;
    margin-right: 1.25rem;
}

.-mt-1 {
    margin-top: -0.25rem;
}

.-mt-2 {
    margin-top: -0.5rem;
}

.-mt-3 {
    margin-top: -0.75rem;
}

.-mt-4 {
    margin-top: -1rem;
}

.-mt-5 {
    margin-top: -1.25rem;
}

.mt-1 {
    margin-top: 0.5cm;
}

.mb-1 {
    margin-bottom: 0.5cm;
}

.ml-1 {
    margin-left: 0.5cm;
}

.mr-1 {
    margin-right: 0.5cm;
}

.mt-2 {
    margin-top: 1cm;
}

.mb-2 {
    margin-bottom: 1cm;
}

.ml-2 {
    margin-left: 1cm;
}

.mr-2 {
    margin-right: 1cm;
}

.mt-3 {
    margin-top: 1.5cm;
}

.mb-3 {
    margin-bottom: 1.5cm;
}

.ml-3 {
    margin-left: 1.5cm;
}

.mr-3 {
    margin-right: 1.5cm;
}

.mt-4 {
    margin-top: 2cm;
}

.mb-4 {
    margin-bottom: 2cm;
}

.mt-5 {
    margin-top: 2.5cm;
}

.mb-5 {
    margin-bottom: 2.5cm;
}

.mt-6 {
    margin-top: 3cm;
}

.mb-6 {
    margin-bottom: 3cm;
}

.inline {
    display: inline-block;
}

.pt-1 {
    padding-top: 0.5cm;
}

.pt-2 {
    padding-top: 1cm;
}
